@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  max-width: 111rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #5d5f79;
  margin-inline: auto;
  font-family: "Inter", sans-serif;
  padding: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      position: relative;
      overflow-x: hidden; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  margin-top: 2rem; }
  @media only screen and (max-width: 50em) {
    .header {
      margin-top: 0;
      padding: 2.5rem 0; } }

.main-content {
  display: grid;
  grid-template-rows: 1.75fr min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .main-content {
      grid-gap: 2rem; } }
  @media only screen and (max-width: 50em) {
    .main-content {
      display: flex;
      flex-direction: column;
      max-width: 65rem;
      margin-inline: auto;
      gap: 2rem; } }

.heading__primary {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #00001a;
  padding-right: 2rem; }
  @media only screen and (max-width: 50em) {
    .heading__primary {
      font-size: 4.2rem; } }

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: #e9ab53; }
  @media only screen and (max-width: 50em) {
    .heading__secondary {
      font-size: 3rem; } }

.heading__tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #fffdfa; }
  @media only screen and (max-width: 50em) {
    .heading__tertiary {
      font-size: 1.8rem; } }

.heading__quartery {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00001a; }

p {
  line-height: 1.5; }

.btn:link, .btn:visited {
  color: #fffdfa;
  background-color: #f15e50;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase; }

.btn:hover, .btn:active {
  background-color: black; }

@media only screen and (max-width: 37.5em) {
  .btn {
    margin-bottom: -1rem; } }

@media only screen and (max-width: 37.5em) {
  .nav {
    position: fixed;
    background-color: white;
    width: 70%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 99;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s; } }

.nav__list {
  list-style: none;
  display: flex;
  gap: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      flex-direction: column;
      font-size: 1.6rem;
      padding: 1rem;
      gap: 2.5rem;
      margin-top: 15rem; } }

.nav__link {
  text-decoration: none;
  padding: 1rem; }
  .nav__link:hover, .nav__link:active {
    color: #f15e50; }

.checkbox {
  display: none; }

.checkbox:checked ~ .navigation-btn .navigation-icon {
  background-color: transparent; }

.checkbox:checked ~ .navigation-btn .navigation-icon::before {
  transform: rotate(-45deg);
  top: 0; }

.checkbox:checked ~ .navigation-btn .navigation-icon::after {
  transform: rotate(45deg);
  top: 0; }

.checkbox:checked ~ .overlay {
  opacity: 1;
  transform: translateX(0); }

.checkbox:checked ~ .nav {
  transform: translateX(0);
  opacity: 1; }

.navigation-btn {
  display: none;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 999;
  padding: 1.2rem 0;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .navigation-btn {
      display: block; } }

.navigation-icon::before,
.navigation-icon::after,
.navigation-icon {
  width: 3.5rem;
  height: 3px;
  background-color: black;
  display: block;
  position: relative;
  transition: all 0.3s; }

.navigation-icon::before {
  content: "";
  position: absolute;
  top: -0.8rem; }

.navigation-icon::after {
  content: "";
  position: absolute;
  top: 0.8rem; }

.overlay {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .overlay {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 35vw;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateX(-100%);
      transition: all 0.3s;
      opacity: 0; } }

@media only screen and (max-width: 37.5em) {
  .logo {
    width: 5rem; } }

.hero {
  grid-column: 1 / span 2; }
  .hero__img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .hero__text-box p {
    margin-bottom: 4rem; }

.news-sidebar {
  grid-column: 3;
  grid-row: 1 /3;
  background-color: #00001a;
  color: white;
  padding: 1rem 3rem;
  padding-top: 3rem; }
  @media only screen and (max-width: 50em) {
    .news-sidebar {
      margin: 4rem 0; } }

.latest-trends {
  padding: 2.5rem 0; }
  .latest-trends:not(:last-child) {
    border-bottom: 1px solid #c5c6ce; }
  .latest-trends h3 {
    margin-bottom: 1.5rem; }
    .latest-trends h3:hover {
      color: #e9ab53;
      cursor: pointer; }
  .latest-trends p {
    font-size: 1.4rem;
    color: #c5c6ce; }

.article {
  display: flex;
  gap: 2rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 50em) {
    .article {
      margin-top: 0; } }
  .article__img {
    width: 30%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 64em) {
      .article__img {
        width: 40%; } }
    @media only screen and (max-width: 50em) {
      .article__img {
        max-width: 10rem; } }
  .article__text-content h4 {
    margin-bottom: 1.2rem; }
    .article__text-content h4:hover, .article__text-content h4:active {
      color: #f15e50;
      cursor: pointer; }
  .article__text-content h5 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #c5c6ce; }
